.achievement {
    padding: 50px;
    h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(28px, 3vw, 40px);
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #0d0d0d;
    margin-bottom: 32px;
    padding-bottom: 40px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
    @media (max-width:1200px) {
        display: flex;
        flex-direction: column;
    }
    .card {
        border-radius: 16px;
        padding: 12px;
        @media (max-width: 1200px) {
            max-width: 100%;
        }
    }
    .card:nth-child(even) {
        background-color: #F2F2F7;
        border-radius: 16px;
    }
    .card:nth-child(odd) {
        background-color: #005AB2;
        color: white;
    }
    .cardTitle {
        padding-top: 142px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 500;
    }
    .description{
        font-size: 16px;
        line-height: 160%;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    .card:nth-child(2) {
        display: flex;
        justify-content: center;
        .cardTitle{
            display: none;
        }
        .number{
            display: none;
        }
        .description{
            display: none;
        }
        .image{
            max-width: 376px;
            width: 100%;
            height: 376px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            @media (max-width: 360px) {
                width: 360px;
                height: 360px;
            }
        }
    }
    .number {
        font-size: 60px;
    }
}