.News {
	padding-block: 30px;
	.content {
		display: flex;
		justify-content: space-between;
		.left {
			.newsOne {
			}
			.title {
				font-weight: 500;
				font-size: 24px;
				line-height: 110.00000000000001%;
				width: 100%;
				max-width: 400px;
			}
			.text {
				font-weight: 400;
				font-size: 16px;
				line-height: 140%;
				width: 100%;
				max-width: 400px;
			}
		}
		.right {
			.news_box {
				display: flex;
			}
		}
	}
}
