.content{
    padding-bottom: 80px;
    width: 100%;
}
.Staff {
    h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: clamp(28px, 3vw, 40px);
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #0d0d0d;
    margin-bottom: 32px;
    padding: 40px;
    }
}
.staffGrid {
    width: 100%;
    display: flex;
     overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
}

.staffGrid::-webkit-scrollbar {
  display: none;
}
.staffGrid {
  scrollbar-width: none;
}
    
.card{
    background-color: #F2F2F7;
    height: 600px;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
     scroll-snap-align: start;
     position: relative;
     @media (max-width:1200px) {
        flex-direction: column;
        justify-content: normal;
        height: 497px;
     }
    .title{
        color: #005AB2;
        font-size: clamp(24px, 3vw, 32px);
        font-weight: 600;
        line-height: 180%;
        padding: clamp(12px, 3vw, 20px);
    }
    .name{
        font-size: clamp(20px, 3vw, 24px);
        font-weight: 500;
        padding-left: 20px;
    }
    .right {
        max-width: 450px;
        .description{
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            padding: 20px;
            z-index: 10;  
        }
        @media (max-width: 1200px) {
            order: 1;
        }
    }
}
.staffPhoto{
    display: flex;
    justify-content: center;
    .image {
        position: absolute;
        width: 100%;
        height: 600px;
        object-fit: contain;
        @media (max-width: 1200px) {
            order: 2;
            position: static;
            height: 297px;
        }
    }
    @media (max-width: 1200px) {
            order: 2;
        }
}


.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: -webkit-fill-available;
    padding: 316px 20px;
    .arrow {
        width: 56px;
        height: 56px;
        background-color: #000;
        color: #fff;
        font-size: 24px;
        border-radius: 16px;
        z-index: 10;
    }
}

.sliderWrapper {
    position: relative;
    overflow: hidden;
}

