.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  main {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  footer {
    margin-top: 100px;
  }
}
