* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
	background: none;
}
.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10%;
}
