.Header {
  background: #f2f2f7;
  padding: 20px 0px 20px;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

    .navlinks {
      display: flex;
      gap: 20px;
      flex-shrink: 1;
      min-width: 0;
      flex-wrap: nowrap;

      a {
        font-size: 16px;
        color: #000000;
        text-decoration: none;
        white-space: nowrap;
        flex-shrink: 1;
        min-width: 0;
        flex-shrink: 1;
      }

      @media (max-width: 1236px) {
        display: none;
      }
    }

    .buttonPanel {
      
      display: flex;
      align-items: center;
      gap: 10px;

      .languageSwitcher {
        display: flex;
        box-sizing: border-box;
        border-radius: 14px;
        height: 56px;
        padding: 4px;
        border: none;
        background-color: #ffffff;

        button {
          border: none;
          background-color: #ffffff;
          width: 74px;
          height: 48px;
          border-radius: 14px;

          &:hover {
            color: #ffffff;
            background-color: #005ab2;
            cursor: pointer;
          }
        }
      }

      .iconGroup {
        display: flex;
        gap: 10px;

        button {
          background-color: #ffffff;
          width: 56px;
          height: 56px;
          border-radius: 14px;
          border: none;
        }
      }

      .burgerMenu {
        display: none;
        background-color: #ffffff;
        width: 56px;
        height: 56px;
        border-radius: 14px;
        border: none;
        color: #000000;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
        @media (max-width: 1236px) {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .Header {
    .content {
      .navlinks {
        display: none;
      }

      .buttonPanel {
        .languageSwitcher {
          display: none;
        }
      }
    }
  }
}
