.Contact {
  .content {
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      margin-bottom: 2%;
    }
    .contacts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: rgba(242, 242, 247, 1);
      padding: 21px 20px;
      border-radius: 16px;
      flex-wrap: wrap;
      gap: 20px;
      .contact {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
