.News {
	.content {
		.title {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.news_box {
			display: flex;
			justify-content: space-between;
			.left {
				padding: 15px;
				background: #f2f2f7;
				border-radius: 12px;
				width: 650px;
				.subtitle {
					font-weight: 500;
					font-style: Medium;
					font-size: 24px;
					width: 100%;
					max-width: 500px;
				}
				.text {
					font-weight: 400;
					font-size: 16px;
					line-height: 140%;
					width: 100%;
					max-width: 600px;
				}
			}
			.right {
				.top {
					display: flex;
					padding: 15px;

					.top_left {
						background: #f2f2f7;
						margin-bottom: 15px;
					}
					.top_right {
						margin-left: 15px;
					}
				}
				.bottom {
				}
			}
		}
	}
}
