.News {
	.content {
		.title {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.news_box {
			display: flex;
			justify-content: space-between;
			.left {
				padding: 15px;
				background: #f2f2f7;
				border-radius: 26px;
				width: 650px;
				.subtitle {
					font-weight: 500;
					font-style: Medium;
					font-size: 24px;
					width: 100%;
					max-width: 500px;
				}
				.text {
					font-weight: 400;
					font-size: 16px;
					line-height: 140%;
					width: 100%;
					max-width: 600px;
				}
			}
			.right {
				.top {
					display: flex;
					.top_left {
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 10px;
						border-radius: 26px;
						background: #f2f2f7;
						margin-bottom: 15px;
						.title {
							font-weight: 500;
							font-size: 24px;
							line-height: 110.00000000000001%;
							width: 100%;
							max-width: 300px;
						}
						.text {
							font-weight: 400;
							font-size: 14px;
							line-height: 160%;
							width: 100%;
							max-width: 300px;
						}
					}
				}
			}
		}
	}
}
