.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 40px;
  margin-bottom: 40px;
  gap: 20px;
  overflow: hidden;

  .heroText {
    flex: 1;
    min-width: 0;

    .desktopHeader {
      display: flex;
      font-size: clamp(32px, 7.5vw, 60px);
      font-weight: 700;
      margin-bottom: 20px;
    }

    .mobileHeader {
      display: none;
    }

    p {
      max-width: 600px;
      font-weight: 500;
      font-size: clamp(16px, 4vw, 24px);
      margin-bottom: 10px;
      color: #737373;
    }

    .searchWrapper {
      position: relative;
      width: 100%;
      max-width: 500px;

      input {
        width: 100%;
        padding: 16px 16px 16px 50px;
        border: none;
        border-radius: 10px;
        background-color: #f2f2f7;
        font-size: 16px;

        &::placeholder {
          color: #000;
          opacity: 1;
        }
      }

      .searchIcon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        pointer-events: none;
      }
    }
  }

  .logo {
    flex-shrink: 0;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .desktopOrn {
      flex-shrink: 1;
      height: auto;
      max-width: 495px;
      min-width: 213px;
      width: 100%;
      display: block;
    }

    .mobileOrn {
      display: none;
    }
  }
}
@media (max-width: 426px) {
  .content {
    flex-direction: column;
    text-align: flex-start;

    .heroText {
      order: 1;
      .desktopHeader {
        display: none;
      }
      .mobileHeader {
        display: flex;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: 24px;
      }

      .searchWrapper {
        margin: 0 auto;
      }
    }

    .logo {
      margin-top: 20px;
      max-width: 80%;

      .desktopOrn {
        display: none;
      }

      .mobileOrn {
        display: block;
        width: 213px;
        height: auto;
      }
    }
  }
}
