@import "../../../styles/helpers/breakpoints";
.NotFound {
  margin-top: 100px;
  .content {
    display: flex;
    gap: 50px;
    max-width: 1440px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 100px;
      h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: clamp(1rem, 4vw, 2rem);
      }
      span {
        color: rgba(0, 90, 178, 1);
        font-size: clamp(7.5rem, 15vw, 12.5rem);
        font-weight: bold;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 90, 178, 1);
        border: none;
        width: 60%;
        max-width: 400px;
        height: 64;
        opacity: 1;
        gap: 10px;
        padding-top: 16px;
        padding-right: 28px;
        padding-bottom: 16px;
        padding-left: 28px;
        border-radius: 16px;
        color: white;
        font-size: 20px;
        font-weight: 700;
      }
    }
    @include breakpoint-down("lg") {
      .text {
        align-items: center;
        text-align: center;
      }
      img {
        display: none;
      }
    }
    @include breakpoint-up("") {

    }
  }
}
