.roomsSection {
  background-color: #f9f9f9;

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
    font-size: clamp(28px, 3vw, 40px);
    line-height: 100%; 
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
    margin: 0 0 1.5rem 0;
    padding-bottom: 20px;
  }

  .roomsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    @media (max-width: 757px) {
    .roomCard:nth-child(2) {
      display: none;
    }
  }
    .roomCard {
        max-width: 610px;
        width: 100%;
        background-color: #F2F2F7;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 16px;
        margin-bottom: 10px;
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: clamp(20px, 3vw, 24px);
        line-height: 110%;
        letter-spacing: 0;
        text-align: left;
        text-transform: uppercase;
        color: #0D0D0D;
        margin: 0 0 8px 0;
    }
    .adress {
        color: #737373;
        font-size: 14px;
        padding-bottom: 4px;
    }

    p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%; 
        letter-spacing: 0;
        text-align: left;
        color: #252525;
        @media (max-width: 757px) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          
        }
    }
}
  }
}
 .Btn {
  display: block;
  width: 100%;
  max-width: 1240px;
  padding: 16px 28px;
  margin: 40px auto;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #005bb5;
  }
}