.Rooms {
	background-color: #f9f9f9;
	margin: 100px auto;

	h2 {
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 100%;
		letter-spacing: 0;
		text-align: center;
		text-transform: uppercase;
		color: #0d0d0d;
		margin: 0 0 1.5rem 0;
		padding-bottom: 20px;
	}

	.roomsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		.roomCard {
			width: 610px;
			// height: 472px;
			background-color: #f2f2f7;
			border-radius: 10px;
			padding: 10px;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			img {
				width: 100%;
				height: 250px;
				object-fit: cover;
				border-radius: 16px;
				margin-bottom: 10px;
			}

			h3 {
				font-family: 'Inter', sans-serif;
				font-weight: 500;
				font-size: 24px;
				line-height: 110%;
				letter-spacing: 0;
				text-align: left;
				text-transform: uppercase;
				color: #0d0d0d;
				margin: 0 0 8px 0;
			}
			.adress {
				color: #737373;
				font-size: 14px;
				padding-bottom: 4px;
			}

			p {
				font-family: 'Inter', sans-serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
				letter-spacing: 0;
				text-align: left;
				color: #252525;
				// margin: 0;
				// flex-grow: 1;
				// overflow: hidden;
				// text-overflow: ellipsis;
			}
		}
	}

	.Btn {
		display: block;
		width: 1240px;
		padding: 16px 28px;
		margin: 40px auto;
		background-color: #0070f3;
		color: white;
		border: none;
		border-radius: 8px;
		font-size: 1rem;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: #005bb5;
		}
	}
}
