.Faq {
  .content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    h2 {
      text-align: center;
    }

    .faqList {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .faqItem {
        width: 100%;

        .faqQuestion {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 20px;
          border: none;
          border-radius: 16px;
          background: #f2f2f7;
          text-align: left;
          font-weight: 500;
          font-size: 24px;
          cursor: pointer;
          transition: color 0.2s ease;

          &:hover {
            color: #005ab2;
          }

          &.open {
            border-radius: 16px 16px 0 0;
          }

          .icon {
            display: flex;
            align-items: center;
            padding: 0 10px;
            transition: transform 0.3s ease;
          }
        }

        .faqAnswer {
          background: #f2f2f7;
          border-radius: 0 0 16px 16px;

          padding: 0 20px 20px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
